<div class="truc">
  <h1>Welcome to the longest word-game !</h1>
  <h2>Your word was: </h2>
  <h1><%= @guess %></h1>
  <h2>Time taken to answer:</h2>
  <h1><%= @result[:time].round %> seconds</h1>
  <h2>Your score:</h2>
  <h1><%= @result[:score].round %> points</h1>
  <br>
  <h1><%= @result[:message] %></h1>
</div>
